/* Open Sans */

@font-face {
    font-family: 'Open Sans Light';
    src: url('./fonts/opensans/OpenSans-Light.woff2') format('woff2'),
        url('./fonts/opensans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
        url('./fonts/opensans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('./fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
        url('./fonts/opensans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Gilroy */

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('./fonts/gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Black';
    src: url('./fonts/gilroy/Gilroy-Black.woff2') format('woff2'),
        url('./fonts/gilroy/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('./fonts/gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

