@import "./libs/normilize/normilize.css";
@import "./fonts.css";
@import "./libs/owl/owl.carousel.min.css";
@import "./libs/owl/owl.theme.default.min.css";
@import "./libs/fancyBox/jquery.fancybox.min.css";


/* main styles */

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper-m {max-width: 1195px;}

.title {
	font-family: 'Gilroy-Black';
	font-size: 66px;
	line-height: 64px;
	color: #afcb1f;
}

	.title-red {color: #e5194a;}

	.title-blue {color: #01a0e2;}

	.title-orange {color: #ef7f1b;}

.subtitle {
	font-family: 'Gilroy-Medium';
	font-size: 32px;
	line-height: 38px;
	color: #afcb1f;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-family: 'Gilroy-Regular';
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	border-radius: 27px;
	transition: 0.3s ease;
}

.callback{
	max-width: 251px;
	height: 54px;
	background: linear-gradient(90deg, rgba(175,203,31,1) 0%, rgba(239,127,27,1) 100%);
}
.btn-red{
	max-width: 151px;
	height: 54px;
	background: linear-gradient(90deg, #ef7f1b 0%, #e5194a 100%);
}
.btn-purple{
	max-width: 251px;
	height: 54px;
	background: linear-gradient(90deg, #e5194a 0%, #009fe2 100%);
}

.btn-green {
	max-width: 251px;
	height: 54px;
	background: linear-gradient(90deg, #afcb1f 0%, #01a0e2 100%);
}
.btn-green-2 {
	max-width: 158px;
	height: 54px;
	background: linear-gradient(90deg, #afcb1f 0%, #ef7f1b 100%);
}

.btn-red:hover {background: linear-gradient(90deg, #e5194a 0%, #ef7f1b 100%);}

.btn-purple:hover {background: linear-gradient(90deg, #009fe2 0%, #e5194a 100%);}

.btn-green:hover {background: linear-gradient(90deg, #01a0e2 0%, #afcb1f 100%);}

.callback:hover {background: linear-gradient(90deg, rgba(239,127,27,1) 0%, rgba(175,203,31,1) 100%);}


.btn-gradient {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 169px;
    height: 50px;
	margin: 0 auto;
	padding: 2px;
	background: linear-gradient(90deg, #e5194a 0%, #009fe2 100%);
	border-radius: 27px;
    transition: 0.3s ease;
}


.btn-gradient-layout {
    display: flex;
    align-content: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-radius: 27px;
    transition: 0.3s ease;
}

.btn-gradient span:not(.btn-gradient-layout) {
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 12px;
	background: linear-gradient(90deg, #e5194a 0%, #009fe2 100%);
	-webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    transition: 0.3s ease;
}

.btn-gradient-orange,
.btn-gradient-orange span:not(.btn-gradient-layout) {background: linear-gradient(90deg, #ef7f1b 0%, #e5194a 100%);}

.btn-gradient-green,
.btn-gradient-green span:not(.btn-gradient-layout) {background: linear-gradient(90deg, #01a0e2 0%, #afcb1f 100%);}

.btn-gradient:hover,
.btn-gradient:hover span:not(.btn-gradient-layout) {background: linear-gradient(90deg, #009fe2 0%, #e5194a 100%);}

.btn-gradient-orange:hover,
.btn-gradient-orange:hover span:not(.btn-gradient-layout) {background: linear-gradient(90deg, #e5194a 0%, #ef7f1b 100%);}

.btn-gradient-green:hover,
.btn-gradient-green:hover span:not(.btn-gradient-layout) {background: linear-gradient(90deg, #afcb1f 0%, #01a0e2 100%);}




/* header styles */

header {padding: 21px 15px 0 39px ;}

	header.fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		padding: 10px 15px 10px 39px;
		background: #fff;
		box-shadow: 0 0 15px 3px #9c9c9c;
	
	}

	header .wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	header .logo {
		width: 100%;
		max-width: 121px;
	}

	header.fixed .logo  {max-width: 70px;}

	header .logo img {width: 100%;}

	header nav {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding: 0 33px;
	}

	header nav a {
		display: inline-block;
		font-family: 'Gilroy-Regular';
		font-size: 18px;
		line-height: 18px;
		color: #363636;
		transition: 0.3s ease;
	}

	header nav a:not(:last-child) {margin-right: 31px;}

	header nav a:hover {color: #afcb1f;}

	.lang-trigger {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.lang-trigger-link,
	.lang-trigger-slash,
	.lang-trigger-active {
		font-family: 'Gilroy-Regular';
		font-size: 18px;
		line-height: 18px;
		color: #363636;
		transition: 0.3s ease;
		white-space: nowrap;
	}

	.lang-trigger-link:hover {color: #afcb1f;}

	.lang-trigger-active {
		font-family: 'Gilroy-Black';
		color: #afcb1f;
	}

	.lang-trigger-slash {margin: 0 4px;}


/* banner styles */

.banner {
	position: relative;
	padding: 208px 0 418px 477px;
	background-image: url('../images/banner-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

	.banner-cnt {
		width: 100%;
		max-width: 410px;
	}

	.banner .title {margin-bottom: 7px}

	.banner-cnt .subtitle {margin-bottom: 35px;}

	.banner-img {
		position: absolute;
    right: 0;
    top: -37px;
    width: 100%;
    max-width: 906px;
	}

	.banner-img img {width: 100%;}


/* about styles */

.about {
	padding: 213px 0 124px;
	background-image: url('../images/about-bg-circle.png'), url('../images/about-bg-lem.png');
	background-position: right 479px top 138px, right -17px bottom 131px;
	background-repeat: no-repeat;
}

	.about .wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0;
	}

	.about-img {
		width: 100%;
		max-width: 860px;
		margin-right: 56px;
	}
	
	.about-img img {width: 100%;}

	.about .title {margin-bottom: 46px;}

	.about-cnt-text {
		width: 100%;
    max-width: 614px;
    height: 420px;
    padding-right: 15px;
    overflow-y: scroll;
	}

	/* about scroll styling */

	.about-cnt-text::-webkit-scrollbar,
	.popup-info::-webkit-scrollbar {width: 4px;}
	 
	.about-cnt-text::-webkit-scrollbar-track,
	.popup-info::-webkit-scrollbar-track {box-shadow: inset 0 0 4px #ffffff;}
	 
	.about-cnt-text::-webkit-scrollbar-thumb {
		background-color: #e6e6e6;
		border-radius: 2px;
	}
	.popup-info::-webkit-scrollbar-thumb {
		background-color: #ffffff;
		border-radius: 2px;
	}

	.about-cnt-text p,
	.about-list li {
    font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
	}

	.about-cnt-text p:not(:last-child) {margin-bottom: 26px;}

	.about-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.about-list-title {margin-bottom: 0px !important;}

	.about-list li {
		position: relative;
    padding-left: 12px;
    line-height: 21px;
	}

	.about-list li::before {
		content: '-';
		position: absolute;
		top: 2px;
		left: 0;
	}

	.about-list li:not(:last-child) {margin-bottom: 3px;}


/* benefits styling */

.benefits {
	padding: 0;
	background-image: 
		url(../images/bnf-bg-1.png);
	background-position: 
		right -18px bottom 22px;
    background-repeat: no-repeat;
}

	.benefits .wrapper {max-width: 1685px;}

	.benefits .title {padding: 0 0 81px 257px;}

	.benefits-list {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	.bnf {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 33%;
    padding-right: 3px;
    margin-bottom: 20px;
	}

	.bnf-img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 157px;
		height: 157px;
		margin-right: 3px;
	}

	.bnf-img img {max-width: 100%;}

	.bnf-title {		
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 4px;
    font-family: 'Gilroy-Black';
		font-size: 32px;
		line-height: 32px;
		color: #01a0e2;
	}

	.bnf-trigger {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 22px;
		min-width: 22px;
		height: 22px;
		margin-top: 2px;
		margin-left: 8px;
	}

	.bnf-trigger img {width: 100%;}

	.bnf-trigger-hover {display: none;}

	.bnf-trigger:hover .bnf-trigger-current  {display: none;}

	.bnf-trigger:hover .bnf-trigger-hover  {display: block;}

	.bnf-cnt p {
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
	}

	.bnf-cnt .popup-info {display: none;}




/* format styles */

.format {
	padding: 43px 0 0;
	background-image: 
		url(../images/format-bg-1.png), 
		url(../images/format-bg-2.png), 
		url(../images/format-bg-3.png), 
		url(../images/format-bg-4.png), 
		url(../images/format-bg-5.png);
	background-position: 
		left 0 top 80px, 
		left 0 top 654px,
		right 245px top 143px,
		right 319px top 638px,
		left 282px bottom 548px;
    background-repeat: no-repeat;
}

	.format .wrapper {
		width: 100%;
		max-width: 1164px;
	}

	.format .title {
		padding-right: 70px;
		padding-bottom: 147px;
		text-align: right;
	}

	.format-list {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	.format-item {
		position: relative;
		width: 100%;
		max-width: 366px;
		margin-bottom: 92px;
		padding: 137px 27px 60px 37px;
		background-color: #f3f3f3;
		border-radius: 30px;
	}

	.format-item-head {
		position: absolute;
		top: -39px;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.format-item-img {
		width: 100%;
		max-width: 153px;
		min-width: 153px;
		height: 153px;
		margin-right: 19px;
		border-radius: 50%;
		overflow: hidden;
	}

	.format-item-img img {width: 100%;}

	.format-item-title {
		padding-top: 74px;
		font-family: 'Gilroy-Black';
		font-size: 21px;
		line-height: 25px;
		color: #ef7f1b;
	}

	.format-item-title  span {
		font-size: 16px;
		line-height: 16px;
	}

	.format-item-text p {
		font-family: 'Gilroy-Regular';
		font-size: 14px;
		line-height: 16px;
		color: #464646;
	}

	.format-item-text p:not(:last-child) {margin-bottom: 10px;}

	.format-item .btn {
		position: absolute;
		bottom: -25px;
		margin-left: -10px;
	}


/* price  styles */

.price {
	padding: 45px 0 160px;
    background-image: url(../images/price-bg-1.png), url(../images/price-bg-2.png);
    background-position: right 199px top 36px, left 0 bottom 147px;
    background-repeat: no-repeat;
}
	.price-head {
		width: 100%;
		max-width: 1164px;
		padding: 0 20px;
		margin: 0 auto;
	}

	.price .title {
		margin-bottom: 63px;
		display: inline-block;
	}

	.price .title span {
		display: block;
		width: 100%;
		font-family: 'Gilroy-Black';
		font-size: 21px;
		line-height: 21px;
		text-align: right;
		color: #515151;
	}

	.price-head p {
		margin-bottom:19px;
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
	}

	.price-list-title {
		margin-bottom: 97px;
		font-family: 'Gilroy-Medium';
		font-size: 26px;
		line-height: 26px;
		color: #afcb1f;
	}

	.price-list {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		max-width: 1350px;
		margin: 0 auto;
	}

	.price-item {
		position: relative;
		margin-bottom: 63px;
	}

	.price-item-number {
		position: absolute;
		left: 0;
		top: -49px;
		z-index: 1;
		font-family: 'Gilroy-Black';
		font-size: 83px;
		line-height: 83px;
		color: #ededed;
	}

	.price-item p {
		position: relative;
		z-index: 2;
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
	}


	.price-stroke {
		width: 100%;
		max-width: 1164px;
		margin: 0 auto;
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
	}


/* features  styles */

.features {padding: 0 0 146px;}

	.features .wrapper {max-width: 1427px;}

	.features .title {margin-bottom: 70px;}

	.features-list-wrap {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		padding-right: 72px;
	}

	.features-list {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-flow: row wrap;
		max-width: 1180px;
	}

	.features-list-item {
		width: 100%;
		max-width: 540px;
		padding-left: 40px;
	}

	.lesson {
		position: relative;
		margin-bottom: 65px;
	}

	.lesson-number {
		position: absolute;
		left: -40px;
		top: -42px;
		z-index: 1;
		font-family: 'Gilroy-Black';
		font-size: 83px;
		line-height: 83px;
		color: #ededed;
	}

	.lesson-title {
		position: relative;
		z-index: 2;
		margin-bottom: 5px;
		font-family: 'Gilroy-Black';
		font-size: 21px;
		line-height: 21px;
		color: #515151;
	}

	.lesson-docs {
		margin-bottom: 2px;
		font-family: 'Gilroy-Medium';
		font-size: 21px;
		line-height: 26px;
		color: #e5194a;
	}

	.lesson-text {
		margin-bottom: 15px;
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
	}

	.features-list-item-last {margin-top: -52px;}
	.features-list-item-last,
	.features-list-item-last .lesson{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		max-width: 100%;
		padding-left: 0;
		margin-bottom: 0;
	}

	.lesson-img {margin-bottom: 65px;}

	.features-list-item-last .lesson {text-align: center;}

	.features-list-item-last .lesson-number {
		left: 50%;
		transform: translateX(-50%);
	}

	.features-list-item-last .btn {margin-top: 25px;}




/* teachers  styles */

.teachers {
	padding:  0 0 118px;
	background-image: 
		url(../images/teachers-bg-1.png),
		url(../images/teachers-bg-2.png),
		url(../images/teachers-bg-3.png);
	background-position: 
		right 0 top 90px,
		left 0 bottom 32px,
		left 602px bottom 0;
    background-repeat: no-repeat;
}

	.teachers .wrapper {max-width: 1389px;}

	.teachers .title {
		margin-bottom: 60px;
		padding-right: 384px;
		text-align: right;
	}

	.teachers-list {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-flow: row wrap;
		width: 100%;
		padding-bottom: 15px;
	}

	.teacher {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		width: 100%;
		max-width: 235px;
		margin-bottom: 30px;
		padding: 0 5px;
	}

	.teachers-list.hidden .teacher:nth-child(n+11) {display: none;}

	.teacher-img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 177px;
		min-width: 177px;
		height: 177px;
		margin-bottom: 15px;
		border-radius: 50%;
	}

	.teacher-name {
		margin-bottom: 3px;
		font-family: 'Gilroy-Medium';
		font-size: 21px;
		line-height: 21px;
		text-align: center;
		color: #03a1e0;
	}
	.teacher p {
		font-family: 'Gilroy-Regular';
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #464646;
	}



/* reviews  styles */

.reviews {
	position: relative;
	padding: 0 0 66px;
}

	.reviews .wrapper {
		width: 100%;
		max-width: 1164px;
	}

	.reviews-cnt {
		position: relative;
		z-index: 2;
		width: 100%;
		max-width: 852px;
	}
	
	.reviews-cnt .title {
		margin-bottom: 15px;
		text-align: right;
	}

	.rev {
		width: 100%;
		max-width: 890px;
	}

	.rev-title {
		margin-bottom: 10px;
		font-family: 'Gilroy-Black';
		font-size:21px;
		line-height: 21px;
		text-align: right;
		color: #333333;
	}

	.rev-text p {
		font-family: 'Gilroy-Regular';
		font-size:16px;
		line-height: 26px;
		color: #333333;
	}

	.rev-text p:not(:last-child) {margin-bottom: 24px;}

	.reviews-img {
		position: absolute;
		top: -186px;
		right: 0;
		z-index: 1;
		width: 100%;
		max-width: 788px;
	}

	.reviews-img img {width: 100%;}

	.reviews-slider .owl-dots {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		padding-right: 18px;
		margin: 40px 0;
	}

	.reviews-slider .owl-dot span {display: none;}
	.reviews-slider .owl-dot {
		width: 11px;
		min-width: 11px;
		height: 11px;
		border-radius: 50%;
		background: #cccccc !important;
		transition: 0.3s ease;
	}
	.reviews-slider .owl-dot.active {background: linear-gradient(90deg, #ef7f1b 0%, #e5194a 100%) !important;}

	.reviews-slider .owl-dot:not(:last-child) {margin-right: 8px;}

	.reviews-button {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.reviews-button .btn-gradient {margin: 0;}



/* shares  styles */

.shares {
	padding: 0 0 105px;
	background-image: 
		url(../images/shares-bg-1.png);
	background-position: 
		left 122px top -30px;
    background-repeat: no-repeat;
}

	.shares .wrapper {max-width: 1184px;}

	.shares .title {margin-bottom: 71px;}

	.shares-row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.shares-slider {
		width: 100%;
		max-width: 455px;
	}

	.shares-title  {
		font-family: 'Gilroy-Medium';
		font-size:21px;
		line-height: 26px;
		color: #afcb1f;
		text-transform: uppercase;
	}

	.shares-text  {
		margin-bottom: 27px;
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
	}
	.shares-med  {
		margin-bottom: 15px;
		font-family: 'Gilroy-Medium';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
	}


	.shares-slider .owl-dots {
		position: absolute;
		top: -36px;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding-right: 0;
	}

	.shares-slider .owl-dot span {display: none;}
	.shares-slider .owl-dot {
		width: 11px;
		min-width: 11px;
		height: 11px;
		border-radius: 50%;
		background: #cccccc !important;
		transition: 0.3s ease;
	}
	.shares-slider .owl-dot.active {background: linear-gradient(90deg, #afcb1f 0%, #ef7f1b 100%) !important;}

	.shares-slider .owl-dot:not(:last-child) {margin-right: 8px;}

	.shares-timer p {
		margin-bottom: 25px;
		font-family: 'Gilroy-Medium';
		font-size: 21px;
		line-height: 21px;
		text-align: center;
		color: #898989;
	}

/* gallery  styles */

.gallery-section {
	position: relative;
	padding: 65px 0 0;
	background-image: 
		url(../images/gallery-bg-1.png), 
		url(../images/gallery-bg-2.png);
	background-position: 
		left 335px top 0, 
		right -144px top 0;
    background-repeat: no-repeat;
}

	.gallery-section .title {
		width: 100%;
		max-width: 1130px;
		margin: 0 auto 70px;
		text-align: right;
	}

	.gallery {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		width: 100%;
		max-width: 1920px;
	}

	.gallery-item {
		position: relative;
		width: 100%;
		max-width: 25%;
		max-height: 358px;
		overflow: hidden;
	}

	.gallery-item img {width: 100%;}

	.gallery-video {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.55);
	}

	.gallery-video img {
		width: 100%;
		max-width: 81px;
	}

	.gallery.hidden .gallery-item:nth-child(n+9) {display: none;}

	.gallery-section .btn-gradient {
		position: absolute;
		top: calc(100% + 60px);
		left: 50%;
		transform: translateX(-50%);
	}



/* contact style */

.contact {
    padding: 263px 0 41px;
    background-image: url(../images/contact-bg-1.png), url(../images/contact-bg-2.png);
    background-position: right -3px bottom -25px, left 36px top 190px;
    background-repeat: no-repeat;
}

	.contact .title {margin-bottom: 52px;}

	.contact-columns {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-flow: row wrap;
	}

	.contact-column {
		margin-right: 56px;
		margin-bottom: 22px;
	}

	.contact-column-4,
	.contact-column-3 {margin-right: 0;}

	.contact-column p,
	.contact-column p a {
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 26px;
		color: #464646;
		transition: 0.3s ease;
	}

	.contact-column p a:hover {color: #009fe2;}

	.contact-column p:not(:last-child) {margin-bottom: 37px;}

	.contact-column-4 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 0;
	}

	.contact-column-4 p {margin-bottom: 0 !important;}

	.social-links {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.social-links a:not(:last-child) {margin-right: 9px;}

	.copyright {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff !important;
	}

	.copyright img {
		margin-top: -6px;
		margin-left: 5px;
	}

/* map */

.map, .map iframe {width: 100%;}


/* popup styling */

.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 15px;
	opacity: 0;
	z-index: -5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease;
}

	.popup-wrapper.active {
		opacity: 1;
		z-index: 5;
	}

	.popup-layout {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 6;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.4);
	}

	#benefitsPopup .popup-layout {
		align-items: flex-start;
		padding: 40px;
		overflow-y: scroll;
	}

	#benefitsPopup .popup-layout::-webkit-scrollbar {width: 0px;}
 
	#benefitsPopup .popup-layout::-webkit-scrollbar-track {box-shadow: inset 0 0 0px #ffffff;}

	#benefitsPopup .popup-layout::-webkit-scrollbar-thumb {background-color: transparent;}

	.popup {
		position: relative;
		width: 100%;
		max-width: 907px;
		padding: 56px 58px;
		border-radius: 20px;
		background: #FFFFFF;
	}

	.popup-m {
		max-width: 502px;
		padding: 56px 40px;
	}

	#thanksPopup .popup  {padding: 160px 40px 88px;}

	.popup .btn {margin: 0 auto;}

	.popup-title {
		width: 100%;
		margin-bottom: 35px;
		font-family: 'Gilroy-Black';
		font-size: 32px;
		line-height: 32px;
		text-align: center;
		color: #01a0e2;
	}

	#thanksPopup .popup-title {
		position: relative;
		z-index: 2;
		margin-bottom: 8px;
	}

	.popup-cnt {position: relative;}

	.popup-cnt-thanks {
		position: absolute;
		top: -82px;
		left: 50%;
		transform: translateX(-50%);
	}



	.popup-subtitle {
		position: relative;
		z-index: 2;
		width: 100%;
		margin-bottom: 10px;
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		color: #afcb1f;
	}

	#thanksPopup p {
		position: relative;
		z-index: 2;
		width: 100%;
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		color: #a1a1a1;
	}

	.popup-title-green {color: #afcb1f;}

	.popup form {width: 100%;}

	.form-field {
		width: 100%;
		height: 54px;
		margin-bottom: 12px;
		padding: 0 20px;
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 16px;
		color: #a1a1a1;
		background: transparent;
		outline: none;
		border-radius: 27px;
		border: 1px solid #ebebeb;
		transition: 0.3s ease;
	}

	.form-field.error {border: 1px solid #e5194a;}

	textarea.form-field {
		height: 129px;
		padding: 20px;
	}

	.form-field:focus,
	.form-field:hover {border: 1px solid #afcb1f;}



	.popup-info {
		height: 565px;
		overflow-y: scroll;
	}

	.popup-title-green {color: #afcb1f;}

	.popup p {
		font-family: 'Gilroy-Regular';
		font-size: 16px;
		line-height: 21px;
		color: #515151;
	}

	.popup p span {color: #01a0e2;}
	.popup p span.popup-info-m {font-family: 'Gilroy-Medium';}
	.popup p span.popup-info-i {font-style: italic;}

	.popup p:not(:last-child) {margin-bottom: 19px;}

	.popup-close {
		position: absolute;
		top: 19px;
		right: 12px;
		cursor: pointer;
		width: 100%;
		max-width: 19px;
	}

	.popup-close img {width: 100%;}


@media(max-width: 1800px) {
	.banner {padding: 208px 0 390px 330px;}
	.banner-img {max-width: 700px;}
	.about {padding: 170px 0 124px;}
	.reviews-img {
		top: -30px;
		max-width: 570px;
	}
	.contact {background-position: right -80px bottom -25px, left 36px top 190px;}
	.gallery-item {max-height: 310px;}
}

@media(max-width: 1600px) {
	.about .wrapper {padding:  0 20px;}
}
@media(max-width: 1500px) {
	.gallery-item {max-height: 260px;}
	.contact {background-position: right -220px bottom -25px, left 36px top 190px;}
	.banner {padding: 140px 0 369px 200px;}
	.about {background-position: right 479px top 84px, right -90px bottom 131px;}
	.format {background-position: left -100px top 65px, 
		left -41px top 650px,
		right 49px top 143px,
		right 7px top 639px,
		left 287px bottom 526px;}
	.about-img {max-width: 600px;}
	.benefits {background: none;}
	.bnf-title {
		font-size: 24px;
		line-height: 24px;
	}
	.reviews-img {max-width: 510px;}
}
@media(max-width: 1500px) {
	.gallery-section .title {text-align: left;}
	.reviews-cnt {max-width: 700px;}
	.reviews-img {top: 30px;}
	.features-list-wrap {padding-right: 0;}
}
@media(max-width: 1354px) {
	.bnf-title {
		font-size: 18px;
		line-height: 18px;
	}
	.bnf-cnt p {
		font-size: 14px;
		line-height: 19px;
	}
	.gallery-item {max-height: 220px;}
	.contact {background-position: right -290px bottom -25px, left 36px top 190px;}
	.banner {
		padding: 104px 0 290px 69px;
		background-position: bottom left -245px;
	}
}

@media(max-width: 1300px) {
	.price {padding: 45px 0;}
	header {padding: 21px 15px 0 0;}
	header.fixed {padding: 10px 15px 10px 0;}
	header nav {padding: 0 10px;}
	header nav a {
		font-size: 16px;
		line-height: 16px;
	}
	header nav a:not(:last-child) {margin-right: 10px;}
	.format {
		background-position: left -100px top 65px, left -147px top 650px, right 49px top 143px, right 7px top 639px, left 287px bottom 526px;
	}
	.price {background-position: right 199px top 36px, left -58px bottom 145px;}
	
}

@media(max-width: 1214px){
	.teachers-list.hidden .teacher:nth-child(n+9) {display: none;}
}
@media(max-width: 1200px){
	.teachers .title {
		padding-right: 0;
		text-align: center;
	}
	.gallery-item {max-height: 180px;}
	.contact {background-position: right -370px bottom -25px, left 36px top 190px;}
	.features-list-item {max-width: 50%;}
	.features-list-item-last {max-width: 100%;}
	.format-item {max-width: 330px;}
	.format-item-img {
		max-width: 125px;
		min-width: 125px;
		height: 125px;
	}
	.about-img {max-width: 400px;}
	.banner-img {
		max-width: 400px;
		top: 39px;
	}
	.banner {
		padding: 80px 0 120px 69px;
		background-position: bottom left -190px;
	}
}

@media(max-width: 1100px) {
	.reviews-img {display: none;}
	.reviews-cnt,
	.rev {max-width: 100%;}
	.format-item {max-width: 315px;}
	.format-item-title {
		padding-top: 59px;
		font-size: 16px;
		line-height: 20px;
	}
	header .logo {max-width: 80px;}
}

@media(max-width: 992px)  {
	.price-item p {
		font-size: 14px;
		line-height: 21px;
	}
	.title {
		font-size: 46px;
		line-height: 46px;
	}
	.subtitle {
		font-size: 25px;
		line-height: 25px;
	}
	.banner {padding: 80px 0 120px 27px;}
}